* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .page {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff");
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff");
    font-style: bold;
    font-weight: 700;
  }
  
  .header {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 145px;
    background-image: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #3c635f;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
  }
  
  .header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }
  
  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    
  }
  
  .header-logo {
    width: 185px;
  }

  .header-menu {
      display: flex;
      align-items: center;
  }
  
  .menu-button {
    display: none;
  }

  .menu-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-list-item:nth-child(n+2) {
    margin-left: 40px;
  }
  
  .menu-link {
    text-decoration: none;
    color: inherit;
    font-size: 13px;
  }
  
  .caption-container {
    display: none;
  }

  .welcome-caption {
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    line-height: 75px;
    max-width: 700px;
    position: relative;
    z-index: 2;
  }
  

 .trends {
    width: 100%;
  } 

  .section-caption {
    margin-top: 65px;
    margin-bottom: 45px;  
    text-align: center;
    font-size: 20px;
    color: #0f0d0e;
    text-transform: uppercase;
           
  }

  .for-after {
    display: flex;
    justify-content: center;
  }

  .for-after::after {
    content: "";
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
    position: relative;
    top: 100px;
    left: -120px;
        
  }
  
  .trends-container {
    display: flex;
        
  }

  .trend-item {
    width: 25%;
    padding: 155px 20px 15px 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    display: flex;   
    align-items: flex-end; 
    background-color: rgb(84, 134, 103);
  }

  .trend-item::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }  

  .trend-item:nth-child(n+2) {
    margin-left: 5px;
  }

  .trend-content {
    width: 100%;
    position: relative;
    z-index: 3;
    border: 3px solid rgba(117, 101, 57, .6);
    padding: 30px;
    box-sizing: border-box;
       
  }

  .trend-caption {
    margin-top: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    font-family: inherit;
  }

  .trend-item-first {
    background-image: url(../img/trend1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #3c635f;

  }

  .trend-item-second {
    background-image: url(../img/trend2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #3c635f;
  }

  .trend-item-third {
    background-image: url(../img/trend3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #3c635f;
  }

  .trend-item-fourth {
    background-image: url(../img/trend4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #3c635f;
  }


  .teg-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .teg-list-item {
    margin-right: 20px;
  }
  
  .teg-post {
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  .content {
    margin-top: 65px;
    margin-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
  }
  
  .main-content {
    width: calc(100% - 270px);
    margin-right: 120px;
  }
  
  .post {
    display: flex;
    align-items: flex-start;
  }
  
  .post:nth-child(n + 2) {
    margin-top: 60px;
  }
  
  .post-image {
    width: 380px;
  }
  
  .post-content {
    margin-left: 30px;
  }
  
  .post-header {
    margin-bottom: 45px;
    display: block;
  }
  
  .teg-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .teg-list-item {
    margin-right: 20px;
  }
  
  .teg-post {
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  
  .post-caption-link {
    display: block;
    margin-top: 15px;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .post-time {
    color: #888888;
    font-size: 12px;
    font-weight: normal;
    margin-right: 15px;
  }
  
  .post-author {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
  }
  
  .post-text {
    padding-bottom: 15px;
    color: #0f0d0e;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
  }
  
  .aside-bar {
    width: 270px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  
  .aside-section:nth-child(n + 2) {
    margin-top: 60px;
  }
  
  .aside-header-new-post {
    margin-bottom: 40px;
    position: relative;
  }
  
  .new-post-caption {
    margin-top: 0;
    text-align: center;
    font-size: 14px;
    color: #0f0d0e;
    text-transform: uppercase;
  }
  
  .aside-header-new-post::after {
    content: "";
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
    position: absolute;
    top: 30px;
    left: 90px;
  }
  
  .aside-post-item {
    display: flex;
    align-items: flex-start;
  }
  
  .aside-post-item:nth-child(n + 2) {
    margin-top: 25px;
  }
  
  .image-new-post {
    width: 70px;
    margin-right: 15px;
  }
  
  .aside-post-time {
    color: #888888;
    font-size: 12px;
    font-weight: normal;
  }
  
  .new-post-text-link {
    margin-top: 5px;
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .search-form {
    position: relative;
  }
  .search-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .search-input {
    width: 100%;
    height: 45px;
    padding: 15px 55px 15px 20px;
    background-color: #f4f7f6;
    border: none;
    font-size: 13px;
    font-family: inherit;
    opacity: 0.5;
  }
  
  .search-input:focus {
    outline: 3px solid #d7e9e3;
  }
  
  .search-hidden-button {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .search-button {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #b59f5b;
    border: none;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
  }
  
  .subscrib-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .subscrib-input {
    width: 100%;
    height: 45px;
    padding: 15px;
    background-color: #f4f7f6;
    border: none;
    font-size: 13px;
    font-family: inherit;
    opacity: 0.5;
  }
  
  .subscrib-input:focus {
    outline: 3px solid #d7e9e3;
  }
  
  .subscrib-button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: inherit;
    font-size: 14px;
    color: #ffffff;
    background-color: #b59f5b;
    cursor: pointer;
  }
  
  .aside-teg-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
    
  }
  
  .aside-teg-item {
    margin-right: 7px;
    margin-bottom: 7px;
  }
  
  .aside-teg-item-link {
    display: block;
    padding: 7px 13px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #0f0d0e;  
    border: 3px solid #eeeeee;
  }
  
  .aside-theme-item {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 15px;
  }
  
  .aside-theme-item:nth-child(n+2) {
    margin-top: 15px;
    
  }
  
  .aside-theme-item-link {
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
  
  .count-theme {
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
    vertical-align: text-top;
  }

  
  @media (max-width:1200px) { /*media-function for menu*/
  
    .menu-list {
        display: none;
    }
    
    .menu-button {
      display: block;
      width: 25px;
      height: 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      padding: 0;
    }

    .menu-button-lable {
      width: 100%;
      height: 20%;
      border-radius: 5px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -2px;
      text-indent: -9999px;

    }

    .menu-button::after {
      content: "";
      width: 100%;
      height: 20%;
      border-radius: 5px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .menu-button::before {
      content: "";
      width: 100%;
      height: 20%;
      border-radius: 5px;
      background-color: #ffffff;
      position: absolute;
      top: 0;
      left: 0;
    }
}

@media (min-width: 641px) and (max-width:1200px)  { /*for tablet*/

  .header {
    background-image: url(../img/banner-bg-tablet.jpg);
    padding-left: 35px;
    padding-right: 35px;
        
 }

 .welcome-caption {
   font-size: 40px;
   line-height: 55px;
 }

 .section-caption {
   font-size: 18px;
 }

 .trends-container {
   flex-wrap: wrap;
 }

 .trend-item  {
   width: calc((100% - 5px) / 2);
 }

 .trend-item:nth-child(n+3) {
   margin-top: 5px;
 }

 .trend-item:nth-child(n+2) {
   margin-left: 0;
 }
 
 .trend-item:nth-child(even) {
   margin-left: 5px;
 }

 .trend-caption {
   font-size: 17px;
   line-height: 22px;
 }
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-content {
    margin-right: 35px;
  }

  .post {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
  }

  .post-image {
    width: 100%;
    object-fit: cover;
  }

  .post-content {
    margin-left: 0;
  }

  
  .post-header {
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .post-caption-link {
    font-size: 17px;
    line-height: 22px;
  }

  
}

@media (max-width: 640px)   { /*for mobile*/


  .header {
    background-image: url(../img/banner-mobile.jpg);
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;    
 }

   .header-logo {
    display: none;
  }

  .caption-container {
    max-width: 270px;
    display: block;
    margin-top: 185px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 4; 
    
  }

  .welcome-caption {
    margin-top: 40px;
    font-size: 26px;
    line-height: 36px;
  }

  .trends-container {
    flex-wrap: wrap;
  }

  .trend-item  {
    width: 100%;
  }

  .trend-item:nth-child(n+2) {
    margin-top: 5px;
    margin-left: 0;
  }

  .trend-caption {
    font-size: 16px;
    line-height: 20px;
  }

  .section-caption {
    font-size: 16px;
  }

  .content {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
  }

  .main-content {
    margin-right: 0;
    width: 100%;
  }
  .post {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
  }

  .post-image {
    width: 100%;
    object-fit: cover;
  }

  .post-content {
    margin-left: 0;
  }

  
  .post-header {
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .post-caption-link {
    font-size: 16px;
    line-height: 20px;
  }

  .post-text {
    font-size: 14px;
    line-height: 20px;
  }

  .aside-bar {
    width: 100%;
    margin-top: 45px;
  }
  
}

